.navigation {
    height: 10vh;
    padding: 0 40px;
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: $font-display;
    font-size: 20px;
    color: $color-white;
}

.button {
    display: block;
    width: 100px;
    background-color: $color-secondary;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    color: $color-white;

    &--form {
        width: 100%;
        border: none;
        background-color: $color-primary-light;
    }

    &--outro {
        background-color: transparent;
        border: 2px solid $color-primary;
        color: $color-primary;
    }
}

.intro {
    text-align: center;

    &__heading {
        color: $color-primary;
        font-size: 50px;
        margin: 20px 0;
    }

    &__sub-heading {
        font-family: $font-display;
        font-size: 25px;
        margin: 20px 0px;
    }

    &__button {
        margin: 0 auto;
    }
}

.wave {
    vertical-align: top;
}

.form {
    background-color: $color-white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    &__input {
        margin-bottom: 20px;
    }
}

.outro-container {
    height: 30vh;
    margin: 20px;
}

.outro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__thanks {
        margin-bottom: 20px;
        font-family: $font-display;
    }
}

.footer {
    height: 10vh;
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__footer-text {
        color: $color-white;
    }
}