#french-flag {
    width: 375;
    height: 250;
    margin: 10px;
}

#blue {
    width: 125px;
    height: 250px;
    position: absolute;
    left: 0;
    background: blue;
}

#white {
    width: 125px;
    height: 250px;
    position: absolute;
    left: 125px;
    background: white;
}

#red {
    width: 125px;
    height: 250px;
    position: absolute;
    left: 250px;
    background: red;
}

